.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 60%; 
    background-image: url("/src/assets/logo-game-changer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.welcome form {
    background-color: rgba(255, 255, 255, 0.104); 
    max-width: 400px;
    padding: 20px;
    width: 100%;
    height: 60%;
    position: absolute;
    right: 200px; 
}

.welcome h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #f8f8f8;
    text-align: center;
}

.formInput{
    position: relative;
}

#player-btn  {
    height: 50px;
    width: 50%;
    background-color: #2192ac;  
    border: 1px solid #cacaca3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0 10px 0;
    transition: 0.5;
    cursor: pointer;
    position: absolute;
    bottom: 55%;
    left: 6.5rem;
}

#player-btn:hover {
    background-color: #347c7e;
}

#coach-btn  {
    height: 50px;
    width: 50%;
    background-color: #2192ac;   
    border: 1px solid #cacaca3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0 10px 0;
    transition: 0.5;
    cursor: pointer;
    position: absolute;
    bottom: 40%;
    left: 6.5rem;
}

#coach-btn:hover {
    background-color:  #347c7e;;
}

.uline {
    position: relative; 
    height: 1px;
    width: 100%;
    margin: 40px 0; 
    background-color: #d4d4d443;
    top: 46%;
}

.uline::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 0 15px;
}

#back-btn  {
    height: 50px;
    width: 50%;
    background-color: #495a78;   
    border: 1px solid #cacaca3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0 10px 0;
    transition: 0.5;
    cursor: pointer;
    position: absolute;
    bottom: 15%;
    left: 6.5rem;
}

#back-btn:hover {
    background-color: #254760;
}
  
  
  






